[run]
branch = True
source = slumba
concurrency = multiprocessing
parallel = True

[report]
omit =
    */__main__.py
    slumba/_version.py

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[html]
