[tool.poetry]
name = "slumba"
version = "1.0.0"
description = "JITted SQLite user-defined functions and aggregates"
readme = "./README.md"
authors = ["Phillip Cloud <417981+cpcloud@users.noreply.github.com>"]
build = "build.py"

[tool.poetry.dependencies]
python = ">=3.7,<3.10"
numba = "0.53.1"
pybind11 = "2.7.1"

[tool.poetry.dev-dependencies]
black = "20.8b1"
flake8 = "^3"
isort = "^5"
mypy = "0.812"
mypy-extensions = "^0.4"
pydocstyle = "^6"
pytest = "^6"
pytest-benchmark = "^3"

[tool.pytest.ini_options]
xfail_strict = true
addopts = [
  "--ignore=site-packages",
  "--ignore=dist-packages",
  "--strict-markers"
]
norecursedirs = ["site-packages", "dist-packages"]

[tool.semantic_release]
version_toml = "pyproject.toml:tool.poetry.version"
branch = "master"
upload_to_pypi = true
build_command = "pip install poetry && poetry build"

[tool.black]
line_length = 88

[tool.isort]
line_length = 88
profile = "black"

[tool.pydocstyle]
convention = "numpy"
add_ignore = ["D105", "D213", "D203"]
match-dir = "slumba"

[build-system]
requires = ["poetry>=0.12", "pybind11==2.7.1"]
build-backend = "poetry.masonry.api"
