[tool.poetry]
name = "slumba"
packages = [{ include = "slumba" }]
# don't ship tests with the install
exclude = ["slumba/tests", "slumba/cslumba.cc"]
homepage = "https://github.com/cpcloud/slumba"
repository = "https://github.com/cpcloud/slumba"
version = "1.1.1"
description = "JITted SQLite user-defined functions and aggregates"
readme = "README.md"
authors = ["Phillip Cloud <417981+cpcloud@users.noreply.github.com>"]
maintainers = ["Phillip Cloud <417981+cpcloud@users.noreply.github.com>"]
build = "build.py"
classifiers = [
  "Development Status :: 2 - Pre-Alpha",
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = ">=3.7.8,<3.10"
numba = "0.53.1"

[tool.poetry.dev-dependencies]
black = "20.8b1"
flake8 = "^3"
importlib-metadata = { version = "^4.6.1", python = "<3.8" }
isort = "^5"
mypy = "0.812"
pybind11 = "2.7.1"
pydocstyle = "^6"
pytest = "^6"
pytest-benchmark = "^3"

[tool.pytest.ini_options]
xfail_strict = true
addopts = [
  "--ignore=site-packages",
  "--ignore=dist-packages",
  "--strict-markers"
]
norecursedirs = ["site-packages", "dist-packages"]

[tool.semantic_release]
version_toml = "pyproject.toml:tool.poetry.version"
branch = "master"
upload_to_pypi = false
build_command = false

[tool.black]
line_length = 88

[tool.isort]
line_length = 88
profile = "black"

[tool.pydocstyle]
convention = "numpy"
add_ignore = ["D105", "D213", "D203"]
match-dir = "slumba"

[build-system]
requires = ["poetry>=0.12", "pybind11==2.7.1"]
build-backend = "poetry.masonry.api"
