on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Continuous Integration

jobs:
  nix:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v12

      - name: Setup Cachix
        uses: cachix/cachix-action@v10
        with:
          name: slumba
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,stupidb

      - name: Build package and run tests
        run: cachix watch-exec slumba nix-build -- --argstr python python${{ matrix.python-version }} --keep-going
  conda:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
        os:
          - platform: linux
            image: ubuntu-latest
          - platform: osx
            image: macos-latest
          - platform: win
            image: windows-latest
    runs-on: ${{ matrix.os.image }}
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      - name: Install conda-lock
        run: conda install conda-lock

      - name: Create lock file
        run: conda-lock -f pyproject.toml -p ${{ matrix.os.platform }}-64

      - name: Create environment from lock file
        run: conda create -n slumba --file conda-${{ matrix.os.platform }}-64.lock

      - name: Run tests
        run: |
          conda activate slumba
          pytest --benchmark-disable
        env:
          PYTHONPATH: "."
  release:
    needs:
      - nix
      - conda
    runs-on: ubuntu-latest
    concurrency: release
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        if: ${{ github.event_name != 'pull_request' }}
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}

      - name: Checkout PR
        uses: actions/checkout@v2
        if: ${{ github.event_name == 'pull_request' }}
        with:
          fetch-depth: 0

      - name: Configure git for semantic release
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
          architecture: "x64"

      - name: Install poetry and semantic-release
        run: pip install poetry python-semantic-release

      - name: Semantic release
        if: ${{ github.event_name != 'pull_request' }}
        run: semantic-release publish --verbosity=DEBUG
        env:
          GH_TOKEN: ${{ secrets.PAT }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

      - name: Semantic release
        if: ${{ github.event_name == 'pull_request' }}
        run: semantic-release publish --noop --verbosity=DEBUG
