name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  nix:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        python-version:
          - "38"
          - "39"
          - "310"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small

      - uses: cachix/cachix-action@v10
        with:
          name: numbsql
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix

      - name: build and test
        run: nix build --no-link --keep-going '.#numbsql${{ matrix.python-version }}'

      - name: show closure size
        run: |
          set -euo pipefail

          nix path-info -Shr '.#numbsql${{ matrix.python-version }}' | sort -h -k2

  conda:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - "3.8"
          - "3.9"
        deps:
          - numba: "0.53"
            llvmlite: "0.36"
          - numba: null
            llvmlite: null
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        id: install_python
        with:
          python-version: ${{ matrix.python-version }}

      - run: pip3 install poetry2conda poetry

      - run: poetry add --lock "numba@${{ matrix.deps.numba }}" "llvmlite@${{ matrix.deps.llvmlite }}" --python "${{ steps.install_python.outputs.python-version }}"
        if: ${{ matrix.deps.numba != null && matrix.deps.llvmlite != null }}

      - run: poetry2conda --dev pyproject.toml - | tee environment.yaml

      - uses: conda-incubator/setup-miniconda@v2
        with:
          mamba-version: "*"
          miniforge-variant: Mambaforge
          miniforge-version: latest
          channel-priority: strict
          activate-environment: numbsql
          python-version: ${{ matrix.python-version }}
          environment-file: environment.yaml

      - run: pip install .
      - run: pytest --numprocesses auto

  dry-run-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small

      - uses: cachix/cachix-action@v10
        with:
          name: numbsql
          extraPullNames: nix-community,poetry2nix

      - name: setup git info
        run: |
          set -euo pipefail

          git config user.name 'phillip-ground[bot]'
          git config user.email 'phillip-ground[bot]@users.noreply.github.com'

      - name: dry run semantic-release
        run: ./ci/release/dry_run.sh

  release:
    runs-on: ubuntu-latest
    needs:
      - conda
      - dry-run-release
      - nix
    steps:
      - uses: tibdex/github-app-token@v1
        id: generate_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small

      - uses: cachix/cachix-action@v10
        with:
          name: numbsql
          extraPullNames: nix-community,poetry2nix

      - name: run semantic-release
        run: ./ci/release/run.sh
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
