on:
  push:
    branches:
      - master

name: Continuous Integration

jobs:
  linux_macos:
    strategy:
      matrix:
        # os: [ubuntu-latest, macos-latest]
        os: [ubuntu-latest]
        python_version: ["3.7", "3.8", "3.9"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Nix
        uses: cachix/install-nix-action@v12

      - name: Setup Cachix
        uses: cachix/cachix-action@v10
        with:
          name: slumba
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community

      - name: Build package and run tests
        run: nix build -L --argstr python python${{ matrix.python_version }}

  windows:
    strategy:
      matrix:
        # python_version: ["3.7", "3.8", "3.9"]
        python_version: ["3.9"]
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python_version }}
          channels: conda-forge
          miniconda-version: "latest"

      - name: Install conda-lock
        run: conda install -y -c conda-forge conda-lock

      - name: Generate conda environment lock file
        run: conda-lock -f pyproject.toml -p win-64 --kind explicit

      - name: Create an environment from the lock file
        run: conda create -y -n slumba --file conda-win-64.lock

      - name: Remove lockfile
        run: del /Q conda-win-64.lock

      - name: Activate environment and run tests
        run: |
          conda activate slumba
          pytest --benchmark-disable

  release:
    needs: [linux_macos, windows]
    runs-on: ubuntu-latest
    concurrency: release

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Python semantic release
        uses: relekang/python-semantic-release@v7.16.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # pypi_token: ${{ secrets.PYPI_TOKEN }}
